<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User to Group</title>
</head>
<body>
    <div id="chat-creator">
        <form id="add-user-form">
            <input type="text" id="add-user-email" placeholder="Enter email">
            <input type="text" id="add-user-group" placeholder="Enter Group Name">
            <button type="submit" id="add-user-btn">Add User to Group</button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js"></script>
<script src="addUser2Gr.js"></script>
</html>