<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body >
    <nav class="navbar navbar-inverse" style="background-color: aquamarine; width:100%">
            
        <h2 style="color: black;font-family: Calibri;" class="nav navbar-nav navbar-right" >Group Chat App</h1>
        <h1 style="color: red;font-family: sans-serif; " class="nav navbar-nav navbar-right"  >Chat Window</h1>
     
        </nav>
        <br><br><br>
        <div class="row" style="width:100%">
                            <div class="col-sm-1" style="background-color: darkgray; height: 495px;width:8%">
                                <br>
                                <div style="border: 2px dashed magenta; margin-left: 0.5rem; ">
                                    <h1 style="text-align:center;color: indigo;">C</h1>
                                </div>
                                <br> <br>
                                <div style="border: 2px dashed red; margin-left: 0.5rem";>
                                     <h1 style="text-align:center;color: fuchsia;">H</h1>
                                </div>
                                <br> <br>
                                <div style="border: 2px dashed black; margin-left: 0.5rem";>
                                    <h1 style="text-align:center;color: yellow;">A</h1>
                                </div>
                                <br> <br>
                                <div style="border: 2px dashed whitesmoke; margin-left: 0.5rem";>
                                    <h1 style="text-align:center;color: palevioletred;">T</h1>
                                </div>
                                <br> <br>
                                
                            </div>
                            <div class="col-sm-10" style="background-image: url('chatapp.png');width:84%">
                                <div class="container" id="chat-body" style="font-size: 20px; font-weight: 900;">
                                        hi
                                        <br>
                                        hello.
                                        <p>hi i am subahjit</p>
                                 </div>
                                 
                                 <div style="position: fixed; bottom: 0;width: 80%;" id="form-div">
                                <form  action="" id="addForm">
                                <div class="form-group row" >                        
                                <div class=" col-sm-11">
                                <input type="text" id="text" class="form-control" style="border: 1px solid lightsalmon;">
                                </div>
                                <div class="col-sm-1">
                                <input value="Send" type="submit" class="btn btn-success" id = 'submit' 
                                style="margin-left: 0rem;">
                                </div>
                                 </div>
                                </form>
                                </div>
                                
                            </div>
                            <div class="col-sm-1" style="background-color: darkgray; height: 495px;width:8%">
                                <br> <br>
                                <div style="border: 2px dashed orange; margin-right: 0.5rem";>
                                    <h1 style="text-align:center; color: darkblue;">A</h1>
                                </div>
                                <br> <br>
                                <div style="border: 2px dashed hotpink; margin-right: 0.5rem";>
                                    <h1 style="text-align:center;color: darkred;">P</h1>
                                </div>
                                 <br> <br>
                                <div style="border: 2px dashed chocolate; margin-right: 0.5rem";>
                                    <h1 style="text-align:center;color: darkgreen;">P</h1>
                                </div>
                                <br> <br>
                                
                            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js">
        
        </script>
            <script src="chat.js"></script>
</body>
</html>