<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="chat-creator">
        <form id="new-chat-form">
            <input type="text" id="chat-mate-email" placeholder="Enter email">
            <button type="submit" id="create-chat-btn">Create new chat</button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.min.js"></script>
<script src="createChat.js"></script>
</html>